*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins";
}


@media(max-width: 991px){
    #home .banner{
        height: 50vh;
        background-color: red;
    }
}

#home .banner{
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#home .banner img{
    max-width: 400px;
}

#home .banner h6{
    font-size: 1.5em;
}

#home .banner h3{
    font-size: 3em;
    line-height: 1.2em;
    color: #3071ff;
}

#home .banner p{
    font-size: 1.2em;
    margin-bottom: 20px;
}
#home .banner a{
    background-color: red;
    border-radius: 20px;
    padding: 0.7em 2em;
    color: white;
}