*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    scroll-behavior: smooth;
}



@media(max-width: 991px){
    #home .banner{
        height: 50vh;
    }
}

#home .banner{
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 0px;
    position: relative;
}

#home .banner img{
    max-width: 500px;
}

#home .banner h3{
    font-size: 3.5em;
    line-height: 1.2em;
    color: #0e9fcb;
}

#home .banner h6{
    font-size: 1.2em;
    font-weight: 500;
    color: #565656;
}

#home .banner p{
    font-size: 1.2em;
    margin: 30px 0 50px 0;
    color: #565656;

}
#home .banner a{
    background: linear-gradient(45deg, hsl(196.14deg 90.78% 42.55%), hsl(172.35deg 61.83% 47.25%));
    border-radius: 20px;
    padding: 0.7em 2em;
    color: white;
    box-shadow: 0px 0px 6px #1cafc1;
}

#home::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-image: url(assets/images/wave-1.svg);
    background-position: right;
    background-size: cover;
    z-index: 0;
}

/* #home::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-image: url(assets/images/wave-2.svg);
    background-size: cover;
    background-position: bottom;
    bottom: 0;
    z-index: 0;
} */

@media(max-width: 1300px){
    #home .banner h3{
        font-size: 2.5em;
    }
}

@media(max-width: 1100px){
    #home .banner img{
        max-width: 250px;
    }
}
@media(max-width: 850px){
    #home .banner{
        flex-direction: column;
        padding: 50px 20px;
        position: relative;
        text-align: center;
    }

    #home .banner-text{
        margin-top: 50px;
    }
}
@media(max-width: 555px){
    #home .banner h3{
        font-size: 2em;
    }
    #home .banner h6{
        font-size: 1em;
    }
}


/* 2EME SECTION INFORMATION */

#infos .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 20px;
    flex-wrap: wrap;
}

#infos .container .bloc{
    text-align: center;  
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 30px 10px 0 10px;
    background: linear-gradient(45deg, hsl(196.14deg 90.78% 42.55%), hsl(172.35deg 61.83% 47.25%));
    cursor: pointer;
    transition: 0.2s;
}

#infos .container .bloc:hover{
    transform: translateY(-10px);
    box-shadow: 0 65px 90px -55px #565656;
}

#infos .container .bloc span.fa{
    font-size: 3em;  
    color: #1cafc1;
}
#infos .container .bloc h3{
    font-size: 1.5em;  
    margin: 30px 0 15px 0;
}
#infos .container .bloc p{
    font-size: 1em;  
}

#infos .container .bloc span.fa,
#infos .container .bloc h3,
#infos .container .bloc p{
    color: white;
}

/* 3EME SECTION SERVICES */

#services{
    margin: 4em 0;
}

#services div.title{
    text-align: center;
}
#services div.title h6{
    font-size: 2.25em;
    color: #2a2a2a;
}
#services div.title h3{
    font-size: 2em;
    margin-top: 10px;
    color: #1fb3bf;
}

#services .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 50px 0 100px 0
}

@media screen and (min-width: 550px){
    #services .card{
        width: 600px !important;
    }
}

#services .container .card{
    max-width: 500px;
    min-height: 205px;
    padding: 20px;
    margin: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 0 55px 10px #e3e3e3;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}
#services .container .card:hover{
    transform: translateY(-10px);
}
#services .container .card::before{
    content: "";
    height: 5px;
    position: absolute;
    background: linear-gradient(45deg, hsl(196.14deg 90.78% 42.55%), hsl(172.35deg 61.83% 47.25%));
    right: 100%;
    left: 0;
    bottom: 0;
    border-radius: 50px;
    transition: 0.3s;
}

#services .container .card:hover::before{
    right: 0%;
}
#services .container .card h4{
    margin: 20px 0 7px 0;
    font-size: 1.3em;
    color: #2a2a2a;
}
#services .container .card span{
    font-size: 1.75em;
    color: #1fb3bf;
    transition: 0.5s;
    animation: ease-in-out;
}
#services .container .card:hover span{
    
    transform: rotate(360deg);
}
#services .container .card p{
    color: #616161;
}

/* 4EME SECTION A PROPOS */

#about{
    background-color: #eef0f4 ;
    box-shadow: 0 0 16px #DCDEE2}


#about .container{
    padding: 70px 10px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about .container .left{
   max-width: 700px;
}
#about .container .left h3{
    color: #2a2a2a;
    font-size: 3em;
    margin-bottom: 25px;
}

#about .container .right{
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#about .container .right .icon{
    cursor: pointer;
    width:200px;
    height:200px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    margin: 0 15px;
    background: #eef0f4;
    border-radius: 100%;
    box-shadow: inset 9.91px 9.91px 15px #e2e4e8, 
                inset -9.91px -9.91px 15px #fafcff;   
    transition: 0.2s;
    color: #a7a7a7;
}
#about .container .right .icon:hover{
    background: #eef0f4;
    border-radius: 100%;
    box-shadow: inset 0px 0px 0px #e2e4e8, inset -0px 0px 0 #fafcff,
        9.91px 9.91px 15px #e2e4e8, -9.91px -9.91px 15px #fafcff,
}
#about .container .right .icon span{
    font-size: 2em;
    transition: 0.3s;
}
#about .container .right .icon:hover span{
    color: #1fb3bf;
}

#about .container .right .icon h4{
    font-size: 1.2em;
    margin-top: 5px;
    transition: 0.3s;
    transition-delay: 0.1s;
}

#about .container .right .icon:hover h4{
    color: #1fb3bf;
}

@media(max-width: 1199px){
    #about .container{
        flex-direction: column;
    }
    #about .container .left{
        margin-bottom: 50px;
    }
}
@media(max-width: 479px){
    #about .container .right .icon{
        margin: 15px;
    }
    #about .container .left{
        text-align: justify;
    }
}

/* 5EME SECTION FORMULAIRE */

section#appointment{
    background-color: #f9f9fb;
    padding: 50px 0;
}

section#appointment .container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color: white;
    height: 540px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 50px -6px #d6d6d6;
}

section#appointment .container .formulaire{
    width: 50%;
    margin-right: 35px;
}
section#appointment .container .formulaire input{
    margin: 10px 0;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 3px solid #e3e3e3;
    transition: 0.3s;
}
section#appointment .container .formulaire input:hover{
    border-bottom: 3px solid #1fb3bf;
}

section#appointment .container .formulaire h3{
    font-size: 2em;
    color: #2a2a2a;
    margin-bottom: 50px;
}

section#appointment .container .formulaire-image{
    width: 40%;
    background-color: #1fb3bf;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

section#appointment .container .formulaire-image img{
    width: 100%;
}

section#appointment .container .formulaire form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section#appointment .container .formulaire input.nom-famille,
section#appointment .container .formulaire input.email{
    width: 42%;
}

section#appointment .container .formulaire input.numero-tel,
section#appointment .container .formulaire input.date{
    width: 42%;
}

section#appointment .container .formulaire input.horaire{
    width: 100%;
}

section#appointment .container .formulaire button.submit-btn{
    width: 192px;
    height: 60px;
    border-radius: 8px ;
    border: none;
    background-color: #1fb3bf;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 30px;
    outline: none;
}

@media(max-width: 768px){
    section#appointment .container .formulaire-image{
        display: none;
    }
    section#appointment .container{
        justify-content: center;
    }
    section#appointment .container .formulaire{
        margin-right: 0;
        width: 80%;
    }
    section#appointment .container .formulaire h3{
        text-align: center;
    }
}

@media(max-width: 500px){
    section#appointment .container .formulaire{
        width: 95%;
    }

    section#appointment .container .formulaire input.numero-tel,
    section#appointment .container .formulaire input.date,
    section#appointment .container .formulaire input.horaire,
    section#appointment .container .formulaire input.nom-famille,
    section#appointment .container .formulaire input.email{
        width: 100%;
    }

    section#appointment .container{
        padding: 30px 10px;
    }
    
}

/* 6EME SECTION APPLICATION */

section#application{
    background-color: #f9f9fb;
    padding: 50px 0;
}

section#application .container{
    background: linear-gradient(45deg, hsl(196.14deg 90.78% 42.55%), hsl(172.35deg 61.83% 47.25%));
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 20px;
    box-shadow: 0 0 50px -6px #8c8c8c;
    box-sizing: border-box;
}

section#application .container .left{
    background-color: #f9f9fb;
    border-radius: 20px;
    transition: 0.2s;
}
section#application .container .left:hover{
    box-shadow: 0 0 50px -20px #fcfcfc;
    transform: scale(1.02) rotate(-3deg);
}


section#application .container .left img{
    height: 500px;
}

section#application .container .right{
    color: white;
    margin-left: 50px;
}

section#application .container .right p{
    font-size: 1.2em;
    max-width: 700px;
    margin-bottom: 10px;
}

section#application .container .right p:nth-child(3){
    margin: 30px 0;
}

section#application .container .right h3{
    font-size: 4em;
    max-width: 700px;
    line-height: 1.2em;
}

section#application .container .right a{
    background-color: white;
    padding: 0.6em 2em;
    border-radius: 8px;
    color: #777777;
    font-weight: 600;
    letter-spacing: 0.5px;
    display: inline-block;
    margin-right: 20px;
    transition: 0.4s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 60%, 0% 50%, 0 40%);
}

section#application .container .right a:hover{
    transform: scale(0.95);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 60%, 10% 50%, 0 40%);
    color: #2a2a2a;
}

@media(max-width: 1369px){
    section#application .container{
        padding: 80px 20px;
    }
    section#application .container .left img {
        height: 300px;
    }
    section#application .container .right h3 {
        font-size: 3.5em;
    }
}
@media(max-width: 1054px){
    section#application .container .right h3 {
        font-size: 2em;
    }
    section#application .container .right p {
        font-size: 1em;
    }
}
@media(max-width: 800px){
    section#application .container{
        flex-direction: column;
        padding: 50px 20px;
    }

    section#application .container .left img{
        height: 200px;
    }

    section#application .container .right {
        margin: 35px 0 0 0;
        text-align: center;
        margin-left: 0;
    }
    section#application .container .right a{
        margin: 10px;
    }
}
@media(max-width: 500px){
    section#application .container .right a{
        width: 165px;
    }
}

/* 7EME SECTION PRESENTATION SPECIALISTE */

section#doctors{
    background-color: #f9f9fb;
    padding: 50px 0;
}

section#doctors .container{
    max-width: 1500px;
    margin: 0 auto;
}

section#doctors .container .title{
    text-align: center;
}

section#doctors .container .title h3{
    font-size: 3em;
    color: #2a2a2a;
}

section#doctors .container .title h6{
    font-size: 1.8em;
    margin-top: 5px;
    color: #1fb3bf;
}

section#doctors .container .person-row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
}

section#doctors .container .person-row .person-bloc{
    width: 430px;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.2s ease-in-out;
    margin: 20px 20px;
}

section#doctors .container .person-row .person-bloc:nth-child(1){
    background: linear-gradient(325deg, hsl(196.14deg 90.78% 42.55%), hsl(172.35deg 61.83% 47.25%));
}

section#doctors .container .person-row .person-bloc:nth-child(2){
    background: linear-gradient(0deg, hsl(196.14deg 90.78% 42.55%), hsl(172.35deg 61.83% 47.25%));
}

section#doctors .container .person-row .person-bloc:nth-child(3){
    background: linear-gradient(45deg, hsl(196.14deg 90.78% 42.55%), hsl(172.35deg 61.83% 47.25%));
}

section#doctors .container .person-row .person-bloc img{
    height: 80%;
}

section#doctors .container .person-row .person-bloc .person-description{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.3em;
    background-color: #f9f9fb;
    padding: 0.3em 0.5em;
    border-top-right-radius: 20px;
    color: #333;
    transition: 0.5s ease-in-out;
    width: 170px;
}

section#doctors .container .person-row .person-bloc:hover .person-description{
    left: 100%;
    transform: translateX(-100%);
    border-top-right-radius: 0;
    border-top-left-radius: 20px;
}

section#doctors .container .person-row .person-bloc:hover{
    transform: scale(1.05);
    border-radius: 10px;
}

@media(max-width: 500px){
    section#doctors .container .person-row .person-bloc{
        width: 100%;
    }
}

/* 8EME SECTION NEWS */

section#news{
    background: linear-gradient(45deg, hsl(196.14deg 90.78% 42.55%), hsl(172.35deg 61.83% 47.25%));
}

section#news .title{
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 50px;
    color: white;
    text-align: center;
}

section#news .title h3{
    font-size: 3em;
    text-shadow: 0px 4px 6px #0000005c;
}

section#news .title h6{
    font-size: 2em;
    text-shadow: 0px 4px 6px #0000005c;
}

section#news .container{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
}

section#news .container .article-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    background-color: #f9f9fb;
    border-radius: 15px;
    margin: 15px 15px;
}

section#news .container .article-blog .blog-img img{
    border-radius: 10px 10px 0 0;
    width: 100%;
}

section#news .container .article-blog .description{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

section#news .container .article-blog .description span{
    font-size: 1em;
    color: #585858;
}

section#news .container .article-blog .description a{
    font-size: 1.8em;
    color: #1fb3bf;
    font-weight: 500;
}

/* 9EME SECTION FORMULAIRE DE CONTACT */

section#contact{
    background-color: #f9f9fb;
    padding: 100px 15px;
}

section#contact .container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 60px 10px;
    border-radius: 15px;
    box-shadow: 0 0 50px -6px #d6d6d6;
    box-sizing: border-box;
}

section#contact .container .title{
    text-align: center;
    color: #2a2a2a;
    margin-bottom: 60px;
}

section#contact .container .title h6{
    font-size: 1.2em;
}

section#contact .container .title h3{
    font-size: 2.8em;
}

section#contact .container form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 600px;
}

section#contact .container form input,
section#contact .container form textarea{
    width: 45%;
    margin: 15px 0;
    padding: 10px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 3px solid #e3e3e3;
    transition: 0.3s;
}

section#contact .container form textarea{
    width: 100%;
    resize: none;
    height: 150px;
    margin-bottom: 60px;
}

section#contact .container form button{
    width: 192px;
    height: 50px;
    border-radius: 8px ;
    border: none;
    background-color: #1fb3bf;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 30px;
    outline: none;
    margin: 0 auto;
    transition: 0.2s;
}

section#contact .container form input:hover,
section#contact .container form textarea:hover{
    border-bottom: 3px solid #1fb3bf
}

section#contact .container form button:hover{
    transform: translateY(-5px);
    box-shadow: rgb(214, 214, 214) 0 10px 40px 0
}

@media(max-width: 500px){
    section#contact .container form{
        flex-direction: column;
        width: 95%;
    }
    section#contact .container form input,
    section#contact .container form textarea{
        width: 100%;
    }
    
    section#contact .container .title h6{
        font-size: 1em;
    }

    section#contact .container .title h3{
        font-size: 2em;
    }
}

/* 10EME SECTION AVIS CLIENT */

section#facts{
    background-color: #f9f9fb;
    padding: 0px 10px 50px 10px;
}

section#facts .container:nth-child(1){
    max-width: 1280px;
    margin: 0 auto;
}

section#facts .container h3{
    text-align: center;
    font-size: 3em;
    color: #2a2a2a;
}

section#facts .container .avis{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    max-width: 600px;
    margin: 0 auto;
}

section#facts .container .avis .bloc{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 15px 35px 8px #e6e6e6;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    transition: 0.2s;
}

section#facts .container .avis .bloc:hover{
    transform: translateY(-10px);
    cursor: pointer;
    background: #2a2a2a;
    color: #f9f9fb;
}

section#facts .container .avis .bloc:hover h3{
    color: #f9f9fb;
}

section#facts .container:nth-child(2){
    max-width: 600px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 15px 35px 8px #e6e6e6;
    border-radius: 10px;
    padding: 40px 20px;
    box-sizing: border-box;
    transition: 0.2s;
}

section#facts .container:nth-child(2):hover{
    background-color: #2a2a2a;
    cursor: pointer;
    transform: translateY(-10px);
}

section#facts .container:nth-child(2):hover p,
section#facts .container:nth-child(2):hover .person h5{
    color: white;
}

section#facts .container:nth-child(2) .person{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

section#facts .container:nth-child(2) .person img{
    border-radius: 50px;
}

section#facts .container:nth-child(2) .quote{
    text-align: center;
    font-size: 1.2em;
    font-style: oblique;
    color: #212121;
    font-weight: 500;
    transition: 0.2s;
}

section#facts .container:nth-child(2) p{
    transition: 0.2s;
}

section#facts .container:nth-child(2) div:nth-child(1){
    margin-right: 25px;
}

section#facts .container:nth-child(2) .person h5{
    font-size: 1.2em;
    font-weight: 500;
    color: #333;
    transition: 0.2s;
}

@media(max-width: 550px){
    section#facts .container .avis{
        flex-direction: column;
    }
    section#facts .container .avis .bloc{
        margin-top: 20px;
    }
    section#facts .container h3{
        font-size: 2em;
    }
    section#facts {
        padding: 0px 10px 50px 10px;
    }
}























/* background: linear-gradient(145deg, #FFFFFF, #BBBDC0);
border-radius: 100%;
box-shadow: inset 13.81px 13.81px 16px #DCDEE2, 
            inset -13.81px -13.81px 16px #FFFFFF; */